<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
</head>
<body>

<h2>PasteDesk</h2>
<form action="/" method="POST">
    <p>query: <input type="text" name="q"><p>
</form>
{% for can in canvases %}
<img src="{{ can[2] }}" can="{{ can[1] }}" man="{{ can[0] }}" onClick="imgClick(this)">
{% endfor %}
</div>

<form id="cur_form" action="/build/" method="POST" onSubmit="return postCuration()">
    <p><strong>create Curation</strong><br>
    title: <input id="cur_title" type="text" name="title">
    <input id="cur_json" type="hidden" name="json">
    <input type="submit" value="create"></p>
</form>

</body>
</html>
