img {
margin: 3px;
}

img.selected {
border: solid 2px #f00;
margin: 1px;
}

#head {
width: 500px;
margin: 0 auto;
text-align: center;
padding-bottom: 25px;
}

#foot {
width: 350px;
margin: 0 auto;
text-align: center;
padding-top: 25px;
}

#canvas-container {
width: 80%;
margin: 0 auto;
}

hr {
color: #ccc;
}
